---
const {title} = Astro.props;
---

<section>
    {title && <h2>{title}</h2>}
    <slot />
</section>

<style>
    section{}
    h2{
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
    }
</style>