---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="skeleton">
        <div class="nav">
            <a href="/">
                <box-icon 
                    name="home"
                    color="#333"
                    type="solid"
                ></box-icon>
            </a>
            <a href="/mini-cv/">
                <box-icon 
                    name="arrow-back"
                    color="#333"
                    type=""
                ></box-icon>
            </a>
        </div>
        <div class="map">
            <h1>Anderlecht, Belgium, BE</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80644.32537569622!2d4.209538740011641!3d50.82866018507487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3a4d1b60305a9%3A0xeba77790dbb9a06f!2s1070%20Anderlecht!5e0!3m2!1sfr!2sbe!4v1734088120156!5m2!1sfr!2sbe" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</Layout>

<style>
    .nav{
        background: #fff;
        padding-bottom:1rem;
        border-bottom: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-between;
    }
    h1{
        text-align: center;
        padding: 2rem 0;
        color: #777;
    }
    .map{
        display: grid;
        grid-template-columns: repeat(auto-fit, 1fr);
        justify-content: center;
        align-content: center;
        height: 100%;
    }
    a{
        border: 1px solid #999;
        width: 2rem;
        height: 2rem;
        border-radius: 0.3rem;
        padding: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }
    a:hover{
        background: #e5e5e5;
    }
    .skeleton{
        background: white;
        width: 94%;
        margin: 1rem auto;
    }
    @media screen and (min-width: 768px){
        .skeleton{
            max-width: 670px;
        }
    }
</style>