---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/minimalist/section/Hero.astro";
import About from "../components/minimalist/section/About.astro";
import Experience from "../components/minimalist/section/Experience.astro";
import Education from "../components/minimalist/section/Education.astro";
import Skills from "../components/minimalist/section/Skills.astro";
import Projects from "../components/minimalist/section/Projects.astro";
import KeyboardManager from "../components/KeyboardManager.astro";

const page = {
    title: "Minimalist CV Design",
    desc: "Simple web app that renders minimalist CV with print-friendly layout."
}
---

<Layout title={page.title} desc={page.desc}>
    <div class="skeleton">
        <Hero />
        <About />
        <Experience />
        <Education />
        <Skills />
        <Projects />
    </div>
    <KeyboardManager />
</Layout>

<style>
    .skeleton{
        background: white;
        width: 94%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    @media screen and (min-width: 768px){
        .skeleton{
            margin: 3.6rem auto;
            max-width: 670px;
        }
    }
</style> 