---
import Section from "../Section.astro";
import {skills} from "../../../json/cv-en.json";
---

<Section title="Skills">
    <ul>
        {
            skills.map(({name}) => <li><a href="">{name}</a></li> )
        }
    </ul>
</Section>

<style>
    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.1rem;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a{
        display: block;
        background: #777;
        color: #fff;
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
        border-radius: 0.3rem;
        border: 1px solid #e5e5e5;
        transition: .3s;
    }
    a:hover{
        background: #999;
    }
</style> 