---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css"
const { page } = Astro.props;
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content={page.desc}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>{page.title}</title>
</head>
<body>
    <div class="skeleton">
        <Header />
        <slot />
        <Footer />
    </div>
</body>
</html>