---
const {title, desc} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <meta name="description" content={desc}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
            <slot />
        </div>
	</body>
</html>
