---
import MinimalistLayout from "../../layouts/MinimalistLayout.astro";
import About from "../../components/section/About.astro";
import Education from "../../components/section/Education.astro";
import Experience from "../../components/section/Experience.astro";
import Hero from "../../components/section/Hero.astro";
import Projects from "../../components/section/Projects.astro";
import Skills from "../../components/section/Skills.astro";
import KeyboardManager from "../../components/KeyboardManager.astro";

const page = {
    title: "Minimalist Portfolio Json",
    desc: "Here description Minimalist portfolio with Json"
}
---

<MinimalistLayout title={page.title} desc={page.desc}>
    <div class="row">
        <main>
            <Hero />
            <About />
            <Experience />
            <Education />
            <Projects />
            <Skills />
        </main>
        <KeyboardManager />
    </div>
</MinimalistLayout>

<style>
    main{
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>